  <aside class="bg-dark">
      <div class="container text-center">
          <div class="call-to-action">
              <h2>Contact Us Here</h2>
            <!-- Begin New Code -->
             <Modal show={this.state.show} handleClose={this.hideModal} >
          <form method="POST" action="https://formspree.io/brittany.leigh.mccall@gmail.com">
            <p> Name:<br>
            <input type="text" style="color:black" name="name" placeholder="Your Name"> </p><br>
  <p> Email:<br>
            <input type="email" style="color:black" name="email" placeholder="Your Email"></p><br>
  <p> Services and More: <br>
    (Hold Ctrl and click to select >1 service)<br>
     <select name="services" size="6" multiple style="color:black">
 <option value="social media">Social Media</option>
  <option value="email mktg">Email Marketing</option>
  <option value="web maintenance">Website Maintenance</option>
  <option value="graphic design">General Graphic Design</option>
  <option value="blog management">Blog Management</option>
  <option value="report creation">Report Creation</option>
       </select></p><br>
            <p> Additional Info:<br>
            <input type="message" style="color:black" name="info" placeholder="Any Additional Information"></p><br>
  <button type="submit" class="btn btn-default btn-xl wow tada">Submit Info</button>
</form>
        </Modal>
            <!-- End Form Code -->
          </div>
      </div>
  </aside>
