  <aside class="bg-dark">
      <div class="container text-center">
          <div class="call-to-action">
              <h2>Let's Get Started!</h2>
            <!-- Begin New Code -->
             <Modal show={this.state.show} handleClose={this.hideModal} >
          <form method="POST" action="https://formspree.io/brittany.leigh.mccall@gmail.com">
<input type="text" name="name" placeholder="Your Name"> <br>
  <input type="email" style="color:black" name="email" placeholder="Your Email"><br>
  <input type="text" name="hours" placeholder="Hours Requesting"><br>
  <textarea name="message" placeholder="Desired Services and Other Info"></textarea><br>
  <button type="submit" class="btn btn-default btn-xl wow tada">Submit Info</button>
</form>
        </Modal>
            <!-- End Form Code -->
          </div>
      </div>
  </aside>
