<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <div class="portfolio-box">
                    <img src="img/portfolio/1.jpg" class="img-responsive" alt="Social Media Management">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Social Media Management
                            </div>
                            <div class="project-name">
                                Facebook Business Pages, Community Pages, Instagram, Twitter, and/or Pinterest. Content creation and consistent posting.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="portfolio-box">
                    <img src="img/portfolio/2.jpg" class="img-responsive" alt="Email Marketing">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Email Marketing
                            </div>
                            <div class="project-name">
                                Manage lists, Broadcasts, and Campaigns. Formatting and distribution of email materials.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="portfolio-box">
                    <img src="img/portfolio/3.jpg" class="img-responsive" alt="Website Maintenance">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Website Maintenance
                            </div>
                            <div class="project-name">
                                Back-end and front-end maintenance of websites using WordPress, GitHub, and more.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="portfolio-box">
                    <img src="img/portfolio/4.jpg" class="img-responsive" alt="General Graphic Design">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                General Graphic Design
                            </div>
                            <div class="project-name">
                                Template design for social media and blog advertisements. Pamphlet and marketing material creation.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="portfolio-box">
                    <img src="img/portfolio/5.jpg" class="img-responsive" alt="Blog Management">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Blog Management
                            </div>
                            <div class="project-name">
                                Proofreading, formatting, and graphical addition of business and personal blogs.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="portfolio-box">
                    <img src="img/portfolio/6.jpg" class="img-responsive" alt="Report Creation">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Report Creation
                            </div>
                            <div class="project-name">
                                Email and website traffic reports to analyze efficacy of marketing strategies.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
