<form method="POST" action="https://formspree.io/brittany.leigh.mccall@gmail.com">
<input type="text" name="name" placeholder="Your Name">
  <input type="email" name="email" placeholder="Your Email">
  <input type="text" name="hours" placeholder="Hours Requesting">
  <textarea name="message" placeholder="Desired Services and Other Info"></textarea>
  <button type="submit">Let's Go!</button>
</form>

<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="js/jquery.easing.min.js"></script>
<script src="js/jquery.fittext.js"></script>
<script src="js/wow.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="js/creative.js"></script>
